a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #4058ef;
}

img {
  width: 100%;
  height: auto;
}

.hero {
  color: #fff;
  padding: 170px 0;
  margin-bottom: 60px;
  text-align: center;
  line-height: 32px;
  position: relative;
}

.hero-bg {
  z-index: -1;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #060063;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2337318e' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

nav {
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 20px;
}

nav li {
  position: relative;
  display: inline-block;
  padding-left: 20px;
}

nav .current a {
  text-decoration: underline;
}

nav a {
  color: #fff;
}

nav span {
  position: absolute;
  top: -5px;
  right: -20px;
  display: block;
  width: 14px;
  height: 14px;
  background: white;
  font-size: 9px;
  border-radius: 100%;
  color: #000;
  text-align: center;
  line-height: 14px;
  font-weight: bold;
}

.facebook {
  padding-left: 40px;
}

.facebook img {
  width: 22px;
  height: 22px;
  top: 3px;
  position: relative;
  margin-right: 5px;
}

h1 {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  padding-bottom: 20px;
}

.showcases {
  text-align: center;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 900px;
}

.showcases img {
  width: 130px;
  height: 130px;
  border-radius: 30px;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.jobs {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 900px;
}

.jobs ul {
  margin-left: -20px;
}

.jobs li {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);
  line-height: 25px;
  padding: 40px;
  margin: 20px;
}

.jobs span {
  font-size: 16px;
  display: block;
  margin-top: 10px;
  font-weight: 900;
}

.jobs a {
  display: inline-block;
  margin-bottom: 5px;
}

.jobs h2 {
  font-weight: 900;
  margin-bottom: 5px;
}

.slack {
  top: 4px;
}

.app {
  margin: 30px auto 10px auto;
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

@media only screen
  and (min-width: 768px)
  and (max-width: 1024px) {
  .app {
    width: 50%;
  }
}

@media only screen
  and (min-width: 1024px) {
  .app {
    width: 25%;
  }
}

.app a {
  display: block;
  color: #000;
}

.app span {
  margin-top: 10px;
  display: block;
  font-size: 14px;
  color: #333;
}

.add {
  padding: 120px 0 50px;
  text-align: center;
  line-height: 23px;
  line-height: 30px;
}

.add a {
  text-decoration: underline;
}
